<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{path '/assets/icons/favicon.ico'}}" type="image/ico">
    <title>{{ _target.title }} | {{ _config.project.title }}</title>
    {{!-- Output the application CSS --}}
    <link rel="stylesheet" href="{{path '/app.css'}}">
    {{!-- Output component CSS --}}
    {{#each _target.resources.assets}}
        {{#if isSCSS}}
            {{#if (componentAsset this ../_target.baseHandle)}}
                <link rel="stylesheet" href="{{path (componentAsset this ../_target.baseHandle)}}">
            {{/if}}
        {{/if}}
    {{/each}}    
</head>
<body>
    {{{yield}}}
    {{!-- Output the polyfill JS --}}
    <script src="{{path '/polyfills.js'}}"></script>
    {{!-- Output the vendor JS --}}
    <script src="{{path '/vendor.js'}}"></script>
    {{!-- Output the application JS --}}
    <script src="{{path '/app.js'}}"></script>
    {{!-- Output the component JS --}}
    {{#each _target.resources.assets}}
        {{#if isJS}}
            {{#if (componentAsset this ../_target.baseHandle)}}
                <script src="{{path (componentAsset this ../_target.baseHandle)}}" defer async></script>
            {{/if}}
        {{/if}}
    {{/each}}    
</body>
</html>